<!DOCTYPE html>
<html>
    <head>
        <title>Ble Interface</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <script src="assets/js/html2canvas.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="assets/js/Chart.ErrorBars.js"></script>
        <script src="assets/js/chartjs-plugin-annotation.min.js"></script>
        <script src="assets/js/statistics.min.js"></script>
        <script src="assets/js/randomcolor.js"></script>
        <script src="https://kit.fontawesome.com/096ef5e38d.js" crossorigin="anonymous"></script>
    </head>
    <body ng-app="app">
        <div ng-controller="Visualizer" id="Visualizer">
            <div class="SelectDataPreview" ng-show="ShowMode==0">
                <div class="SelectDataPreviewOverlay">
                    <div class="SelectContainer" ng-if="!VWAData">
                        Select Test Data
                        <div>
                            <button ng-click="fileInputButtonClicked()">
                                <i class="fas fa-plus"></i> Select Data
                            </button>
                        </div>
                    </div>
                    <div class="SelectContainer VWA" ng-if="VWAData">
                        Wähle einen Parameter:
                        <div>
                            <button style="background-color: #ff0dbe; " ng-click="setVWAData('Alle','assets/VWA/Unsortiert/')">
                                Alle Daten <i class="fas fa-arrow-right"></i>
                            </button>
                            <button style="background-color: #ff971e; " ng-click="setVWAData('Stehend','assets/VWA/Unsortiert/stehend/')">
                                Stehend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #00ffb1; "  ng-click="setVWAData('Liegend','assets/VWA/Unsortiert/liegend/')">
                                Liegend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #00ffb1; "   ng-click="setVWAData('Düsendurchmesserl','assets/VWA/Düsendurchmesser/liegend/')">
                                Düsendurchmesser liegend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #ff971e; "  ng-click="setVWAData('Düsendurchmessers','assets/VWA/Düsendurchmesser/stehend/')">
                                Düsendurchmesser stehend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #00ffb1; "   ng-click="setVWAData('Fülldichtel','assets/VWA/Infill/Dichte/liegend/')">
                                Fülldichte liegend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button style="background-color: #ff971e; "  ng-click="setVWAData('Fülldichtes','assets/VWA/Infill/Dichte/stehend/')">
                                Fülldichte stehend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button   style="background-color: #00ffb1; "  ng-click="setVWAData('Füllmusterl','assets/VWA/Infill/Muster/liegend/')">
                                Füllmuster liegend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button style="background-color: #ff971e; "  ng-click="setVWAData('Füllmusters','assets/VWA/Infill/Muster/stehend/')">
                                Füllmuster stehend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #00ffb1; "   ng-click="setVWAData('Schalendickel','assets/VWA/Schalendicke/liegend/')">
                                Schalendicke liegend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #ff971e; "  ng-click="setVWAData('Schalendickes','assets/VWA/Schalendicke/stehend/')">
                                Schalendicke stehend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button   style="background-color: #00ffb1; "  ng-click="setVWAData('Schichthöhel','assets/VWA/Schichthöhe/liegend/')">
                                Schichthöhe liegend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button style="background-color: #ff971e; "  ng-click="setVWAData('Schichthöhes','assets/VWA/Schichthöhe/stehend/')">
                                Schichthöhe stehend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #00ffb1; "   ng-click="setVWAData('Temperaturl','assets/VWA/Temperatur/liegend/')">
                                Temperatur liegend<i class="fas fa-arrow-right"></i>
                            </button>
                            <button  style="background-color: #ff971e; " ng-click="setVWAData('Temperaturs','assets/VWA/Temperatur/stehend/')">
                                Temperatur stehend<i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SelectDataPreview" ng-show="ShowMode==1">
                <div class="SelectDataPreviewOverlay">
                    <div class="SelectContainer">
                        Select Test Mode
                        <div>
                            <button id="TestData">
                                <i class="fas fa-plus"></i> View Testdata
                            </button>
                            <button id="CompareData">
                                <i class="fas fa-plus"></i> Compare Testdata
                            </button>
                            <button id="StandardDiviation">
                                <i class="fas fa-plus"></i> Statistical Analysis
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-click="BackToSelectData();" class="Back">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>

            <div class="VisualizerContainer" ng-show="ShowMode==2">
                <div ng-click="BackToSelectMode();" class="Back">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <div class="Chart" id="ChartCon">
                    <canvas id="LiveChartId"></canvas>
                </div>

                <div class="TestData" >

                    <div class="SelectTest">
                        <h1>Select Test</h1>
                        <ul>
                            <li ng-repeat="data in Data">
                                <div ng-click="SetFile(data.MetaData.FileName)" class="TestItem">
                                    {{data.MetaData.FileName}} : {{data.MetaData.Name}}
                                </div> 
                            </li>

                        </ul>
                    </div>

                    <div class="MetaData" >
                        <i ng-click="BackToMenu();" class="fas fa-arrow-left"></i>
                        <h1>MetaData</h1>
                        <ul>
                            <li ng-repeat="data in DisplayMetaData">
                                <div class="TestItem">
                                    {{data[0]}} : {{data[1]}}
                                </div> 
                            </li>

                            <li>
                                <div class="TestItem">
                                    BreakPoint : {{DisplayBreakpoint}}
                                </div> 
                            </li>
                            <li>
                                <div class="TestItem">
                                    Maximum : {{DisplayMaximum}}
                                </div> 
                            </li>


                            <li>
                                <div class="TestItem">
                                    Parameter:
                                </div>
                            </li>

                            <ul>
                                <li ng-repeat="data in DisplayParameter">
                                    <div class="TestItem Parameter">
                                        {{data[0]}} : {{data[1]}}
                                    </div> 
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>  
            </div>

            <div class="BreakpointContainer" ng-show="ShowMode==3">
                <div ng-click="BackToSelectMode();" class="Back">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <div class="OpenChooseTest">
                    <i class="fas fa-cog"></i>
                </div>

                <div class="ChooseTestContainer">
                    <div class="SelcetAllButton">
                        Select All <input type="checkbox" ng-model="SelectAllBool" ng-change="SelectAll()">
                    </div>
                    <ul>
                        <!-- <li ng-repeat="data in Data">-->
                        <li ng-repeat="data in Data">
                            <div class="TestItem"> 
                                <input type="checkbox" ng-model="data.Selected" ng-change="SetBreakpointData()">
                                {{data.MetaData.Name}}
                            </div> 
                        </li>
                    </ul>
                </div>

                <div class="Chart" id="BarChartCon">
                    <canvas id="BreakpointChartId"></canvas>
                </div>

                <div class="Chart" id="CompareLineChartCon">
                    <canvas id="CompareLineChartId"></canvas>
                </div>
            </div>

            <div class="StandardDiviationContainer" ng-show="ShowMode==4">
                <div ng-click="BackToSelectMode();" class="Back">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <div class="Chart" id="ErrorChartCon">
                    <canvas id="ErrorChartId"></canvas>

                    <input class="fileNameTextfield" id="filenametf" type="text" placeholder="FileName">
                    <div class="Downloads">
                        <button class="Image" id="takeScreenshot">Download Graph <i class="fas fa-arrow-circle-down"></i></button>
                        <button class="CSV" id="DownloadCSV">Download CSV<i class="fas fa-arrow-circle-down"></i></button>
                    </div>
                </div>

                <div class="Chart">
                    <h1>Unpaired Two tailed T-Test</h1>
                    <h3>Select Default Value:</h3>
                    <div class="selectcon" >
                        <select 
                                ng-model="tTestSelect.selectedOption"
                                >
                            <option ng-repeat="option in tTestSelect.availableOptions" value="{{option.id}}">{{option.name}}</option>
                        </select>

                        <button class="calculate" id="calculateTTest">Calculate</button>


                        <div id="TTestCon">
                            <canvas id="TTestResultChartId"></canvas>
                        </div>

                        <div class="Downloads">
                            <button class="Image" id="TTestTakeScreenshot">Download Graph <i class="fas fa-arrow-circle-down"></i></button>
                            <button class="CSV" id="TTtestDownloadCSV">Download CSV<i class="fas fa-arrow-circle-down"></i></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="assets/js/vwaData.js"></script>
        <script src="assets/js/script.js"></script>
    </body>
</html>