<div ng-controller="Visualizer" id="Visualizer">
    <div class="SelectDataPreview" ng-hide="ShowData">
        <div class="SelectDataPreviewOverlay">
            <div class="SelectContainer">
                Select Test Data
                <button id="FileInputButton">
                    <i class="fas fa-plus"></i> New TestData
                </button>
            </div>
        </div>
    </div>

    <div class="VisualizerContainer" ng-show="ShowData">
        <div ng-click="BackToSelectMenu();" class="Back">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="Chart" id="ChartCon">
            <canvas id="LiveChartId"></canvas>
        </div>

        <div class="TestData" >

            <div class="SelectTest">
                <h1>Select Test</h1>
                <ul>
                    <li ng-repeat="data in Data">
                        <div ng-click="SetFile(data.MetaData.FileName)" class="TestItem">
                            {{data.MetaData.FileName}} : {{data.MetaData.Name}}
                        </div> 
                    </li>

                </ul>
            </div>

            <div class="MetaData" >
                <i ng-click="BackToMenu();" class="fas fa-arrow-left"></i>
                <h1>MetaData</h1>
                <ul>
                    <li ng-repeat="data in DisplayMetaData">
                        <div class="TestItem">
                            {{data[0]}} : {{data[1]}}
                        </div> 
                    </li>

                    <li>
                        <div class="TestItem">
                            BreakPoint : {{DisplayBreakpoint}}
                        </div> 
                    </li>

                    <li>
                        <div class="TestItem">
                            Parameter:
                        </div>
                    </li>

                    <ul>
                        <li ng-repeat="data in DisplayParameter">
                            <div class="TestItem Parameter">
                                {{data[0]}} : {{data[1]}}
                            </div> 
                        </li>
                    </ul>
                </ul>
            </div>
        </div>  
    </div>

</div>
